
<div class="entry-shang text-center">
    {{ if .Site.Params.reward_guide }}
	    <p> 「{{ .Site.Params.reward_guide }}」</p>
	{{ else }}
	    <p>Thanks so much for following along!</p>
	{{ end }}
	<button class="zs show-zs btn btn-bred">Support Us</button>
</div>
<div class="zs-modal-bg"></div>
<div class="zs-modal-box">
	<div class="zs-modal-head">
		<button type="button" class="close">×</button>
		<span class="author"><a href="{{ .Site.BaseURL }}"><img src="{{ "img/reward/cheers.png" | relURL}}" />{{ .Site.Title }}</a></span>
        {{ if .Site.Params.reward_guide }}
	        <p class="tip"><i></i><span>{{ .Site.Params.reward_guide }}</span></p>
		{{ else }}
	        <p class="tip"><i></i><span>Thanks for Supporting Us!</span></p>
		{{ end }}
 
	</div>
	<div class="zs-modal-body">
		<div class="zs-modal-btns">
			<button class="btn btn-blink" data-num="1">$1</button>
			<button class="btn btn-blink" data-num="2">$2</button>
			<button class="btn btn-blink" data-num="5">$5</button>
			<button class="btn btn-blink" data-num="10">$10</button>
			<button class="btn btn-blink" data-num="20">$20</button>
			<button class="btn btn-blink" data-num="1">Other</button>
		</div>
		<div class="zs-modal-pay">
			<button class="btn btn-bred" id="pay-text">$1</button>
			<p>Use<span id="pay-type"> PayPal</span>: Scan Our QR Code</p>
			<img src="{{ "img/reward/paypal-btn.png" | relURL }}"  id="pay-image"/>
		</div>
	</div>
	<div class="zs-modal-footer">
		<label><input type="radio" name="zs-type" value="paypal" class="zs-type" checked="checked"><span ><span class="zs-paypal"><img src="{{ "img/reward/paypal-btn.png" | relURL }}"/></span></label>
		<label><input type="radio" name="zs-type" value="venmo" class="zs-type" class="zs-venmo"><img src="{{ "img/reward/venmo-btn.png" | relURL }}"/></span></label>
	</div>
</div>
<script type="text/javascript" src="{{ "js/reward.js" | relURL }}"></script>
